@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1> Strona Servisu Volkswagena</h1>
    <p class="lead">Servis zajmuje się naprawą wszelkich samochodów z Grupy VAG.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Problemy Mechaniczne</h2>
        <p>
            Posiadamy dostęp do wszelkich części związnych z samochodami z Grupy VAG
        </p>
    </div>
    <div class="col-md-4">
        <h2>Testy Komputerowe</h2>
        <p>Posiadamy możliwość podlączenia samochodu pod komputer i sprawdzenia błędów.</p>
    </div>
    <div class="col-md-4">
        <h2>Recykling samochodów</h2>
        <p>Jeżeli samochód nie nadaje się już do naprawy świadczymy także usługę utylizacji samochodu.</p>
    </div>
</div>